.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.project

themes/next/.DS_Store
themes/next/.idea/
themes/next/*.log
themes/next/*.iml
themes/next/yarn.lock
themes/next/package-lock.json
themes/next/node_modules/

# Ignore unused verdors' files
themes/next/source/lib/fancybox/*
!themes/next/source/lib/fancybox/source/

themes/next/source/lib/font-awesome/less/
themes/next/source/lib/font-awesome/scss/

themes/next/source/lib/ua-parser-js/*
!themes/next/source/lib/ua-parser-js/dist/

themes/next/source/lib/Han/*
!themes/next/source/lib/Han/dist/